<?xml version="1.0"?>
<robot name="kinect">

    <link name="world"/>

    <joint name="world_to_camera_joint" type="fixed">
      <origin xyz="0.5 0 1.0" rpy="0 1.57 0"/>
      <parent link="world"/>
      <child link="camera_link"/>
    </joint>

    <link name="camera_link">
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <box size="0.05 0.05 0.05"/>
          </geometry>
        </collision>
    
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <box size="0.05 0.05 0.05"/>
          </geometry>
          <material name="red"/>
        </visual>
    
        <inertial>
          <mass value="1e-5" />
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
      </link>  

    <gazebo reference="camera_link">
        <sensor name="world" type="depth">
            <!-- openni plugin has the x pointing towards the scene, so rotate to have z -->
            <pose frame="world">0.0 0.0 0.0 0.0 0.0 0.0</pose>
            <camera>
                <!-- <horizontal_fov>1.047198</horizontal_fov> -->
                <horizontal_fov>0.7</horizontal_fov>
                <image>
                    <width>1024</width>
                    <height>1024</height>
                    <format>B8G8R8</format>
                </image>
                <clip>
                    <near>0.01</near>
                    <far>10.0</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.5</mean>
                    <stddev>1.0</stddev>
                </noise>
            </camera>
            <plugin name="kinect_plugin" filename="libgazebo_ros_openni_kinect.so">
                <baseline>0.1</baseline>
                <alwaysOn>true</alwaysOn>
                <!-- Keep this zero, update_rate in the parent <sensor> tag
                will control the frame rate. -->
                <updateRate>0.0</updateRate>
                <cameraName>kinect</cameraName>
                <imageTopicName>/kinect/rgb/image_raw</imageTopicName>
                <cameraInfoTopicName>/kinect/rgb/camera_info</cameraInfoTopicName>
                <depthImageTopicName>/kinect/depth/image_raw</depthImageTopicName>
                <depthImageInfoTopicName>/kinect/depth/camera_info</depthImageInfoTopicName>
                <pointCloudTopicName>/kinect/point_cloud</pointCloudTopicName>
                <frameName>camera_link</frameName>
                <pointCloudCutoff>0.1</pointCloudCutoff>
                <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
                <distortionK1>0</distortionK1>
                <distortionK2>0</distortionK2>
                <distortionK3>0</distortionK3>
                <distortionT1>0</distortionT1>
                <distortionT2>0</distortionT2>
                <CxPrime>0</CxPrime>
                <Cx>0</Cx>
                <Cy>0</Cy>
                <focalLength>0</focalLength>
                <hackBaseline>0</hackBaseline>
            </plugin>
            <always_on>true</always_on>
            <update_rate>1.0</update_rate>
            <visualize>true</visualize>
        </sensor>
    </gazebo>
</robot>